doctype html
html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title node+express website
    include includes/comm_style.pug
  body 
    h1(class="d-none") contactList | 문의접수 목록
    
    include includes/comm_header.pug
    main 
      h2 문의접수 목록 페이지입니다.
      table(class="contact_list") 
        tr 
          th 번호
          th 이름
          th 연락처
          th 이메일
          th 내용
          th 등록일
        each list in lists 
          tr 
            td= list.idx
            td= list.name
            td= list.phone
            td= list.email
            td= list.memo
            td= list.regdate
    include includes/comm_footer.pug